body {
    background-color: antiquewhite;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 192, 192);
    /* margin: auto auto; */
    border: 1px solid gray;
    width: 500px;
    height: 750px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

.output {
    width: 400px;
    height: 60px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: end;
    padding: 20px;
    /* box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.2); */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

/* .b1 {
    grid-template-areas: ;
} */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    cursor: pointer;
}

.orange {
    background-color: orange;
}